# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/

#Directories
#wxlua/wxLua/build_osx/
wxlua/wxLua/build_linux
wxlua/wxLua/build_win
wxWidgets-3.2.1/build_linux
wxWidgets-3.2.1/install_linux
wxWidgets-3.2.1/build_osx
wxWidgets-3.2.1/install_osx
wxWidgets-3.2.1/build_win
wxWidgets-3.2.1/install_win
